body {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: 400;
	background-image: url(Space.png); /* Путь к фоновому рисунку */
	display: table-cell;
	vertical-align: middle;
}

.center {
  padding: 1em;
  color: #E0E0E0;
  font: "Comic Sans";
}

html {
  display: table;
  margin: auto;
}

li {
    list-style-type: none; /* Убираем маркеры */
	margin-bottom: 4px;
}

ul {
margin-left: 0; /* Отступ слева в браузере IE и Opera */
padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
color: #000000;
}

details summary {
	display: block;  /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
	width: 10em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;  /* блок раскрывается при щелчке по кнопке, а не по всей строке */
	outline-style: none;  /* удалить обводку при фокусе */
	cursor: pointer;
}
details summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

details {
	background-color: #EBF4F4;/*#DCE2E2;*/
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
	width: 450px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}